main{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    grid-column: 20px 20px;
    grid-gap: 20px 20px;
    background-color: blanchedalmond;
}